@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #327B00;
  --secondary-color: #76007A;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --background-color: #DFFFD4;
}
